* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: url(1.JPG);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.title img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main {
	max-width: 1200px;
	margin: auto;
}

.logo {
	float: left;
	width: 150px;
	height: auto;
}

.logo h1{
	color: #fff;
	font-size: 30px;
	font-family: Century Gothic;
}

.form {
	position: absolute;
	top: 75%;
	left: 40%;
	transform: translate (150%, -75%);
	font-family: Century Gothic;
}

.form textarea: focus,
.form select: focus {
	background: #d2d9dd;
}

.form select{
	-webkit-appearance: menulist-button;
	height: 35px;
}

.form input[type="submit"],
.form input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}
